<h1>Create new task</h1>

<%= render 'form',
  project: @task.project,
  task: @task,
  url: project_tasks_path(@task.project) %>

<%= link_to 'Back', project_tasks_path(@task.project), class: "btn" %>
