<% users.each do |user| %>
<div class="grid-pair">
  <div class="grid-item 1/4"><%= user.name %></div>
  <div class="grid-item 1/2"><%= user.surname %></div>
  <div class="grid-item 1/4">
     <%= link_to project_create_path(project), method: :post %>
  </div>
</div>
<% end %>
