<div class="grid grid-center">
  <% if notice %>
    <div class="grid-item 3/4 mobile-1/1 box box-informative">
      <p><%= notice %></p>
    </div>
  <% end %>

  <% if alert %>
    <div class="grid-item 3/4 mobile-1/1 box box-negative">
      <p><%= alert %></p>
    </div>
  <% end %>
</div>
