<footer class="main-footer sticky-footer">
  <div class="container">
    <div class="grid grid-pair">
      <p class="grid-item 1/2">
        &copy; <%= Date.today.year %> Bulbulator Team
      </p>
      <p class="grid-item 1/2">
        <%= link_to "Fork on GitHub", "https://github.com/Ragnarson-Internship2016/group-II" %>
      </p>
    </div>
  </div>
</footer>
