<div class="landing grid grid-center">
  <main class="grid-item 2/3 mobile-1/1">
    <%= image_tag "browser.svg", alt: "Browser illustration", class: "landing-browser" %>

    <h1 class="landing-slogan">Manage your projects like never before.</h1>
    <%= link_to "Get started", new_user_registration_path, class: "btn btn-big" %>
  </main>
</div>
