<div class="grid-item form-box 3/5 medium-3/6 tablet-3/5 mobile-1/1 horizontal-center">
<h2>Editing Event</h2>

<%= render 'form',
  project: @event.project,
  event: @event,
  url: [@event.project, @event] %>

<%= link_to 'Back', project_events_path(@event.project), class: "btn" %>
</div>
