<div class="grid-item form-box 3/5 medium-3/6 tablet-3/5 mobile-1/1 horizontal-center">
  <h2>Create new project</h2>

  <%= render "form", project: @project %>

  <%= link_to "Back", projects_path, class: "btn" %>
</div>
