$brand-color: #5BB4B4;
$secondary-color: #042A2B;

$tasks-color: #3D9970;
$projects-color: #0074D9;
$events-color: #607D8B;

$color-gray: #454955;
$color-silver: #DCDCDC;

$navbar-background: $secondary-color;
$navbar-color: #FFFFFF;

$color-btn: $brand-color;
$color-link: $brand-color;

$color-informative: $brand-color;

$footer-text-color: lighten($secondary-color, 20%);
