$brand-color: #5BB4B4;
$secondary-color: #042A2B;

$color-gray: #454955;
$color-light-gray: #6F6F6F;
$color-silver: #DCDCDC;

$navbar-background: $secondary-color;
$navbar-color: #FFFFFF;

$color-btn: $brand-color;
$color-link: $brand-color;

$color-informative: $brand-color;

$footer-text-color: lighten($secondary-color, 20%);
