.dashboard {
  h2 {
    @include font-size-heading(1, $font-size-h3);
    margin-top: 0;
  }

  h3 {
    @include font-size($font-size-small);

    color: #6f6f6f;

    text-transform: uppercase;
    font-weight: bold;
  }

  input[type="checkbox"] + label {
    height: 24px;
    line-height: 24px;
  }
}
