.notification-btn {
  text-align: left !important;
}

.notification-border {
  border-radius: $ui-border-radius;
  padding: 5px;
  margin-right: 3px;
}

.notification-count {
  background-color: red !important;
}
