.tasks-list {
  list-style-type: none;

  .task-item {
    display: block;
    margin-top: $spacing-unit;
    overflow: auto;

    .task-title {
      cursor: pointer;
    }

    .fa {
      float: right;
      color: $color-light-gray;

      cursor: pointer;
    }

    .task-due-date {
      float: left;
      margin-top: 2px;
      padding-left: 36px;
      clear: both;

      color: $color-light-gray;

      @include font-size($font-size-micro);
      font-weight: bold;
    }

    .task-extra {
      padding: 10px 36px;
      clear: both;
    }
  }

  .show-more-item {
    display: inline-block;
    margin-top: $spacing-unit;
    padding-left: 36px;
    clear: both;

    cursor: pointer;
    text-decoration: underline;
  }
}

.add-task-form {
  padding-left: $spacing-unit;

  label + input {
    margin-bottom: $spacing-unit;
  }

  button {
    float: right;
  }
}
